services/analytics-service/node_modules/
services/analytics-service/.env
services/analytics-service/src/config/database.js


services/notification-service/node_modules/
services/notification-service/.env
services/user-service/src/config/database.js


services/order-service/node_modules/
services/order-service/.env
services/order-service/src/config/database.js


services/product-service/node_modules/
services/product-service/.env
services/product-service/src/config/database.js


services/user-service/node_modules/
services/user-service/.env
services/user-service/src/config/database.js
